################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BaseSolution/ParallelSampleTest/bin/Debug/netcoreapp3.1
/BaseSolution/ParallelSampleTest/obj
/BaseSolution/DataGenerator/bin/Debug/netcoreapp3.1
/BaseSolution/DataGenerator/obj/Debug/netcoreapp3.1
/BaseSolution/DataGenerator/obj/Release/netcoreapp3.1
/BaseSolution/DataGenerator/obj
